body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #383838;
  color: var(--text-color);
}

html {
  height: -webkit-fill-available;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--button-color-hover);
}

a {
  color: var(--button-color) !important;
}
